@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: rgb(255, 255, 255);
}

.text_gradient {
  background: linear-gradient(to right, #8A34D1 0%, #634ccd 25%, #D46A8E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.word_spacing {
  word-spacing: 3px;
}

.btn {
  @apply text-xs py-5 px-10 rounded-full bg-[#8A34D1] text-white tracking-wider font-bold hover:bg-[#7d2fbd] active:bg-[#68279e];
  box-shadow: inset 0 0 20px #461a6b;
  text-shadow: 0 0 5px #461a6b;
}

.piaic_bg_gradient {
  background: linear-gradient(to right, #0EB7A3 0%, #09D58F 100%);
}


.translate_center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bgLines {
  background-image: url('../public/assets/backlines.png');
  background-position: cover;
  background-repeat: no-repeat;
}

.bg_pattern {
  background-image: url('../public/assets/bg2.png');
  background-position: cover;
  background-repeat: no-repeat;
}